# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=evolution

# Evolution API
EVOLUTION_API_KEY=aHR0cHM6Ly93d3cueW91dHViZS5jb20vd2F0Y2hcP3ZcPWRRdzR3OVdnWGNRXCZsaXN0XD1SRGRRdzR3OVdnWGNRXCZzdGFydF9yYWRpb1w9MQo

# Redis
REDIS_PASSWORD=senha
